<% if (@result.entities.nil? || @result.entities.empty?) && @result.processed %>
<p id="nothing_found">Sorry, no results found.</p>
<% end -%>

<% if @result.entities.nil? || @result.entities.empty? || @result.contribution_count == 0 -%>
<div class="module" id="contribution_report" style="display:none;">
<% else -%>
<div class="module" id="contribution_report">
<% end -%>
  <h4>Aggregated Contributions</h4>
  <p class="explanation">Represents total campaign contributions from an organization's employees and/or its PAC.</p>

  <ul class="reportData">
  <% @result.entities.each do |recipient| -%>
    <% if recipient.contributors -%>
    <% recipient.contributors.each do |contributor| -%>
    <li>
      <%= link_to contributor.tdata_name, influence_explorer_url(contributor), "data-entity" => contributor.extracted_name %> has aggregated $<%= number_with_delimiter contributor.amount %> to <%= link_to recipient.name, influence_explorer_url(recipient), "data-entity" => recipient.name %>
    </li>
    <% end -%>
    <% end -%>
  <% end -%>
  </ul>
</div>

<% if @result.entities.nil? || @result.entities.empty? -%>
<div class="module" id="extracted_entities" style="display:none;">
<% else -%>
<div class="module" id="extracted_entities">
<% end -%>
  <h4>Points of Influence</h4>
  <p class="explanation">Graphs for politicians represent received campaign contributions, while graphs for organizations represent aggregate campaign contributions made.</p>

  <ul class="reportData">
  <% @result.entities.each do |entity| -%>
    <% if entity.tdata_id.blank? && @result.status == "Entities Extracted" -%>
      <li><%= entity.tdata_name %></li>
    <% elsif entity.tdata_id -%>
      <li>
        <span class="influenceName">
          <%= link_to entity.tdata_name, influence_explorer_url(entity), "data-entity" => entity.tdata_name %>
        </span>

        <% if entity.tdata_count > 0 -%>
        <%= image_tag piechart_url(entity), :alt => "Chart for #{entity.tdata_name}" %>
        <div class="clear"></div>
          <% unless entity.top_industries.empty? -%>
          <div class="industries">
            <span class="industriesHeader">Top Contributing Industries:</span>
            <ul>
              <% entity.top_industries.each_index do |index| %>
              <li>
                <%= entity.top_industries[index] %><%= ", " if index < entity.top_industries.length - 1  %>
              </li>
              <% end -%>
            </ul>
            <div class="clear"></div>
          </div>
          <% end -%>

          <%= link_to "Learn More &raquo;".html_safe, influence_explorer_url(entity), :class => "ie_link" %>

        <% end -%>
      </li>
    <% end -%>
  <% end -%>
  </ul>
</div>

<div id="feedback">
  <img alt="checkbox image" src="/images/icon_check.png"/>
  <p>Help us improve Poligraft. <%= link_to "Leave feedback", feedback_path(:slug => @result.slug) %> if something seems amiss or confusing.</p>
</div>
