<% content_for :title, "Dig Up Political Influence" %>
<% content_for :body_class, "home" %>

<div id="fullColumn">
  <p id="homeDescription">Feed in a news article, blog post, or press release, and Poligraft will present you with an enhanced view of the people, organizations, and relationships described in the piece.</p>
  <%- flash.each do |name, msg| -%>
    <%= content_tag :div, msg, :id => "flash_#{name}" %>
  <%- end -%>

  <%= form_tag poligraft_path, :honeypot => true do -%>
  <ul>
    <li>
      <%= label_tag "url", "Enter URL:" %>
      <%= text_field_tag "url" %>
    </li>
    <li>
      <span id="formDescriptor">or</span>
      <%= label_tag "text", "Paste in text:" %>
      <%= text_area_tag "text", nil, :rows => 10, :cols => 32 %>
    </li>
    <li>
      <button id="submit" type="submit">
        <span>Submit</span>
      </button>
    </li>
  </ul>
  <% end -%>
  <div id="examples">
    <h3 class="withTip">Examples</h3>
    <p class="explanation">Want to see what Poligraft can do? Check out the examples below.</p>
    <ul>
      <li><a href="http://poligraft.com/a7xI">Deficit Supercommittee Members Have Close Ties to Many Lobbyists (New York Times)</a></li>
      <li><a href="http://poligraft.com/qTn4">Politico Influence for August 26, 2011</a></li>
      <li><a href="http://poligraft.com/lxJR">GOP leaders trying to avoid a fight on 2012 spending (Washington Post)</a></li>
    </ul>
  </div>
</div>
