<% content_for :title, "Dig Up Political Influence" %>
<% content_for :body_class, "home "%>

<div id="fullColumn">
  <p id="homeDescription">Feed in a news article, blog post, or press release, and Poligraft will present you with an enhanced view of the people, organizations, and relationships described in the piece.</p>
  <%- flash.each do |name, msg| -%>
    <%= content_tag :div, msg, :id => "flash_#{name}" %>
  <%- end -%>

  <%= form_tag poligraft_path do -%>
  <ul>
    <li>
      <%= label_tag "url", "Enter URL:" %>
      <%= text_field_tag "url" %>
    </li>
    <li>
      <span id="formDescriptor">or</span>
      <%= label_tag "text", "Paste in text:" %>
      <%= text_area_tag "text", nil, :rows => 10, :cols => 32 %>
    </li>
    <li>
      <button id="submit" type="submit">
        <span>Submit</span>
      </button>
    </li>
  </ul>
  <% end -%>
</div>