<% content_for :title, "Results" %>

<div id="source_content">
  <h3>Content</h3>
  <% if @result.source_format == 'plain_text' -%>
  <%= simple_format formatted_content(@result) %>
  <% else -%>
  <%= formatted_content(@result) %>
  <% end -%>
  <% unless @result.source_url.blank? -%>
  <p><%= link_to "View Original", @result.source_url %></p>
  <% end -%>
</div>
<div id="sidebar">

  <div id="copy_link">
    <h3>Copy Link</h3>
    <%= text_field_tag 'url', result_url(@result.slug), :id => 'share_url', :readonly => 'readonly', :size => 30 %>
  </div>
  
  <div id="status">
    <h3>Status</h3>
    <p><em><%= @result.status %></em></p>
  </div>
  
  <div id="extracted_entities">
    <h3>Extracted Entities</h3>
    <table>
      <tr>
        <th>Type</th>
        <th>Name</th>
      </tr>
      <% @result.entities.each do |entity| -%>
      <tr>
        <td><%= entity.entity_type %></td>
        <td><%= entity.name %></td>
      </tr>
      <% end -%>
    </table>
  </div>
</div>

<script type="text/javascript" charset="utf-8">
  var slug = '<%= @result.slug %>';
  var entityCount = <%= @result.entities.length %>;
  var resultStatus = '<%= @result.status %>';
</script>