<% content_for :title, "Report for '#{@result.source_title}'" %>
<% content_for :body_class, "article" %>

<div id="shareResults">
  <div id="shareContent">
    <h3>Share these Results</h3>
    <%= text_field_tag 'url', result_url(@result.slug), :id => 'share_url', :readonly => 'readonly', :size => 30 %>
    <a id="facebook" title="Share on Facebook" href="http://www.facebook.com/share.php?u=<%= result_url(@result.slug) %>">Facebook</a>
    <a id="twitter" title="Share on Twitter" href="http://twitter.com/?status=<%= result_url(@result.slug)%>">Twitter</a>
  </div>
</div>

<div id="ltColumn">
  <div id="source_content">
    <% if @result.source_format == 'plain_text' -%>
    <%= simple_format formatted_content(@result) %>
    <% else -%>
    <%= formatted_content(@result) %>
    <% end -%>
  </div>

  <div id="source">
    <span id="dateCreated">This page was created on: <span class="date"><%= @result.created_at.to_formatted_s(:day) %></span></span>
    <% unless @result.source_url.blank? -%>
    <span class="url"><%= link_to "View Original", @result.source_url, :rel => 'nofollow' %></span>
    <% end -%>
  </div>
</div>

<div id="rtColumnWrapper">

  <div id="rtColumn">
    <h3>The Report</h3>

    <div id="processingBar" style="display:none;">
      <img src="/images/spinner.gif" id="spinner"/>
      <span>Processing</span>
    </div>

    <div id="report">
      <%= render :partial => "result" %>
    </div>

  </div>
</div>
<div class="clear"></div>

<script type="text/javascript" charset="utf-8">

  var slug = '<%= @result.slug %>';
  var entityCount = <%= @result.entities.length %>;
  var resultStatus = '<%= @result.status %>';

</script>