<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
  <head>
    <title><%= h(yield(:title) + " | Truthify!") %></title>
    <%= stylesheet_link_tag 'nifty' %>
    <%= yield(:head) %>
  </head>
  <body>
    <div id="container">
      
      <div id="header">
 
        <h1>Truthify!</h1>
        
        <div id="aside">
          <ul id="navigation">
            <li><%= link_to "Home", root_path %> |</li>
            <li>About |</li>
            <li>Contact</li>
          </ul>
        
        </div><!-- aside -->
        
      </div><!-- header -->
      
      <div id="content">
         <h2 id="page_title"><%=h yield(:title) %></h2>
        
        <%- flash.each do |name, msg| -%>
          <%= content_tag :div, msg, :id => "flash_#{name}" %>
        <%- end -%>
        
        <%= yield %>
        
      </div><!-- content -->
      
      <div id="footer">
        <div id="footer_description">
          <h4>A project of the Sunlight Foundation, funded by the Knight Foundation.</h4>
          <p>Founded in 2006, the Sunlight Foundation uses cutting-edge technology and ideas to make government transparent and accountable. Through its projects and grant-making, Sunlight serves as a catalyst to create greater political transparency and to foster more openness and accountability in government. Visit <a href="http://sunlightfoundation.com">SunlightFoundation.com</a> to learn more.</p>
        </div> 
      </div><!-- footer -->      

    </div><!-- container -->
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.1/jquery-ui.min.js"></script>
    <%= javascript_include_tag 'application' %>
  </body>
</html>
